<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/mystyke.css">
  <meta charset="UTF-8">
  <title>Cadastro de Pilotos</title>
</head>

<body>
  <header>

  </header>
  <h2>Lista de Cadastro</h2>
  <table class="table table-dark" border="1" >
    <thead>
      <tr>
        <td>Nome</td>
        <td>Sobrenome</td>
        <td>Idade</td>
        <td>Carro</td>
        <td>Peneus</td>
        <td>Suspensão</td>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(details) { %>
      <tr>
        <td><%= details.name %></td>
        <td><%= details.surname %></td>
        <td><%= details.idade %></td>
        <td><%= details.carro %></td>
        <td><%= details.peneus %></td>
        <td><%= details.radio %></td>
        <td> <a class="btn btn-primary" href="/edit/<%= details._id %>">Editar</a> <a class="btn btn-danger"
            href="/delete/<%= details._id %>">Deletar</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
 <a class="btn btn-primary btn-lg" href="/">Volta</a></button>
</body>

</html>